<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <mat-icon>manage_accounts</mat-icon>
  </mat-toolbar>
  <hr>
  <div class="add-button">
    <button id="hover" data-toggle="modal" matTooltip="Agregar Usuario" style="color:#1D89F5;"
    data-toggle="modal" data-target="#misclientes">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
    <!--- Users Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Rol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <a id="hover" style="color:#34495E;" matTooltip="Editar Usuario" (click)="editUser(element)">
          <mat-icon>edit_document</mat-icon>
        </a>
        <a id="hover" (click)="deleteUser(element.id)" style="color:#F73207;" matTooltip="Eliminar Usuario">
          <mat-icon>delete_forever</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="misclientes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="user was-validated" [formGroup]="userForm" (ngSubmit)="saveUser($event)">
          <div class="form-group">
              <label for="nombre">Nombre completo</label>
              <input type="text" class="form-control form-control-user" id="nombre"
              autocomplete="off" required formControlName="nombre">
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control form-control-user" id="email"
                required formControlName="email">
          </div>
          <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control form-control-user" id="password"
               required formControlName="password">
          </div>
          <div class="form-group">
            <label for="rol">Rol</label>

            <select class="form-control form-control-lg form-control-user"
            required formControlName="role_id">
              <option *ngFor="let rol of roles" [value]="rol.id">{{rol.rol}}</option>
            </select>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
    </div>
  </div>
</div>

